<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainSuite" parallel="tests" thread-count="2" verbose="2">
    <!--test name="ContextTest">
        <classes>
            <class name="com.codefactory.amon.AppContextTest"/>
        </classes>
    </test>
    <test name="ReactionTest">
        <classes>
            <class name="com.codefactory.amon.action.PlaySoundReactionTest"/>
        </classes>
    </test-->
</suite>